apiVersion: v1
kind: Template
metadata:
  annotations:
    description: mBOP mocks the IT BOP service with our own instance providers such as keycloak for user data
    tags: mbop
  name: mbop-server
objects:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app: mbop
    name: mbop
  spec:
    replicas: ${{REPLICAS}}
    selector:
      matchLabels:
        app: mbop
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        labels:
          app: mbop
      spec:
        containers:
        - env:
          - name: JWT_MODULE
            value: ${JWT_MODULE}
          - name: KEYCLOAK_SERVER
            value: "${KEYCLOAK_SCHEME}://${KEYCLOAK_HOST}:${KEYCLOAK_PORT}${KEYCLOAK_PATH}"
          image: quay.io/cloudservices/mbop:${IMAGE_TAG}
          imagePullPolicy: IfNotPresent
          name: mbop
          ports:
          - containerPort: ${{PORT}}
            name: svc
            protocol: TCP
          resources:
            requests:
              cpu: ${CPU_REQUEST}
              memory: ${MEMORY_REQUEST}
            limits:
              cpu: ${CPU_LIMIT}
              memory: ${MEMORY_LIMIT}
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: mbop
    name: mbop
  spec:
    ports:
    - name: svc
      port: ${{PORT}}
      protocol: TCP
      targetPort: ${{PORT}}
parameters:
- name: PORT
  description: Port the application will listen on
  value: "8090"
- name: REPLICAS
  description: The number of replicas to use in the deployment
  value: '1'
- name: IMAGE_TAG
  description: Image tag
  required: true
  value: latest
- name: KEYCLOAK_SCHEME
  description: keycloak's scheme (http/s)
  value: http
- name: KEYCLOAK_HOST
  description: keycloak's host
  value: 192.168.x.x
- name: KEYCLOAK_PORT
  description: keycloak's port
  value: "12345"
- name: KEYCLOAK_PATH
  description: keycloak's path if behind a reverse proxy
  value: ""
- name: MEMORY_LIMIT
  description: memory limit for mbop pod
  value: 512Mi
- name: MEMORY_REQUEST
  description: memory request for mbop pod
  value: 128Mi
- name: CPU_LIMIT
  description: cpu limit for mbop pod
  value: "1"
- name: CPU_REQUEST
  description: cpu request for mbop pod
  value: "0.5"
- name: JWT_MODULE
  description: optional JWT endpoint module override
  value: ""
